[DEFAULT]
# Default level for loggers and handlers
level=INFO

[servers]
from=news.west.earthlink.net
to=news.west.spy.net

[misc]
# Name of the file that will contain the news db
newsdb=newsdb
workers=1 # use only 1 worker if you only fetch 1 group with forcedList, guess more bugs to find with timeouts

# Name of the pid file
pidfile=nntpsucka.pid

# List of exceptions (files contain lines with groups to filter / allow)
# filterList=filename1 # files contain lines with groups to filter / blacklist
# forcedList=filename2 # using a forcedList will scan only these groups
useIgnore = True # setting to False with forcedList in use will not check against blacklist

# Maximum number of articles to get per group
maxArticles=10000

# Whether ``seen'' articles should be marked in the news DB config
shouldMarkArticles=yes

# Example news server specific config: [] brackets should contain same domain or ip like 'from=']
[news.west.earthlink.net]
username=XXXXXXXX@mindspring.com
password=XXXXXXXX
port=119 # fixme: add 563 support to use with NNTPClientSSL or use local stunnel as client, may have better performance

###### Logging config #######

[loggers]
keys=root

[handlers]
keys=def

[formatters]
keys=std

[logger_root]
handlers=def
qualname=(root)

[handler_def]
class=StreamHandler
formatter=std
args=(sys.stdout,)

[formatter_std]
format=%(asctime)s %(levelname)s %(message)s
datefmt=

# arch-tag: B19368A0-11C5-11D9-B2A9-000A957659CC
