[DEFAULT]
# Default level for loggers and handlers
level=INFO

[servers]
from=news.west.earthlink.net
to=news.west.spy.net

[misc]
# Name of the file that will contain the news db
newsdb=newsdb
workers=5 # workers are fine but first established connection between server still timeouts ( EOFerror ) after fetching 100k+ articles and switching to next group

# Name of the pid file
pidfile=nntpsucka.pid

# List of exceptions (files contain lines with groups to filter / allow)
globalfilterList=globalfilter.txt

# filterList=filename1 # file with groups to blacklist

# forcedList=filename2 # using a forcedList will scan only these groups
useIgnore = True # setting to False will NOT check against filterList

# doneList=filename3 # stores fetched groups and prevents fetching again on next run
writeRegex = True # setting to True writes doneList in exact regex: ^linux\.kernel$ 


# Maximum number of articles to get per group
maxArticles=10000 #  tested fine with max=2500000 @ `linux.kernel` (2.35 Mio Articles) @ workers=50 

# Whether ``seen'' articles should be marked in the news DB config
shouldMarkArticles=yes

# Example news server specific config: [] brackets should contain same domain or ip like 'from=']
[news.west.earthlink.net]
username=XXXXXXXX@mindspring.com
password=XXXXXXXX
port=119 # fixme: add 563 support to use with NNTPClientSSL or use local stunnel as client, may have better performance

###### Logging config #######

[loggers]
keys=root

[handlers]
keys=def

[formatters]
keys=std

[logger_root]
handlers=def
qualname=(root)

[handler_def]
class=StreamHandler
formatter=std
args=(sys.stdout,)

[formatter_std]
format=%(asctime)s %(levelname)s %(message)s
datefmt=

# arch-tag: B19368A0-11C5-11D9-B2A9-000A957659CC
